<!-- 

  Доступные компоненты/html теги:
    - cat-fact
      отрисовывает карточку со случайным фактом про котов

    - random-joke
      отрисовывает карточку со случайной шуткой

    - random-idea
      отрисовывает карточку со случайной идеей
-->

<!-- Следующий код позволяет добавить на страницу случайную карточку при нажатии на кнопку add random item -->
<!-- 
  Обратите внимание на свойство (click)! 
  В данном примере таким образом привязывается метод addRandom/clear к событию нажатия кнопки.
-->
<button (click)="addRandom()">add random item</button>
<button (click)="clear()">clear</button>

<!-- 
  Обратите внимание на директиву *ngFor!
  Он похож на директиву ng-repeat в angular.js, но с небольшими синтаксическими изменениями

  В данном случае тэг div будет повторятся для каждого элемента массива items, с привязкой переменной item со значением текущего элемента массива
 -->
<div *ngFor="let item of items">
  <!-- 
    Обратите внимание на директиву *ngIf!
    
    Он похож на директиву ng-if в angular.js, выполняет ту же функцию.
    С его помощью можно определить видимость элемента, в зависимости от заданного условия
    *ngIf = "expression" -> элемент будет отрисовываться исключительно когда expression === true
  
  -->
  <cat-fact *ngIf="item == 'cat-fact'"></cat-fact>
  <random-joke *ngIf="item == 'random-joke'"></random-joke>
  <random-idea *ngIf="item === 'random-idea'"></random-idea>
</div>
